// Placeholder to allow overriding predefined variables smoothly.
$base-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;

$link-base-color:       #b58900;  // 60  10  65
$link-visited-color:    #b58900;  // 60  10  65
$link-hover-color:      #b58900;  // 60  10  65